In [233]:
#IMPORTING LIBRARIES
import csv
from csv import DictReader
import pandas as pd
import math

In [234]:
#LOADING THE DATASET
df = pd.read_csv('https://raw.githubusercontent.com/mrjayewardene/pramorio/main/Student%20Scores%20-%20Sheet1%20(3).csv')

In [235]:
#PEEAK-A-BOO
df

     s1   s2   s3
0    67   75   86
1   105   56   65
2    34   54   45
3    89   89   89
4    96   96   95
5    78   85  400
6    72   72   54
7    -3   99   76
8    74   74   93
9    63   64   62
10   91   91   91
11   67   77   87
12  243  342  324
13   77   77   45
14   67   67   73
15   78   98   74
16   88   88   91
17   82   82   82
18   34   -4   21
19   78   78   22

In [236]:
#Running a test line
for index, row in df.iterrows():
    print(row)

s1    67
s2    75
s3    86
Name: 0, dtype: int64
s1    105
s2     56
s3     65
Name: 1, dtype: int64
s1    34
s2    54
s3    45
Name: 2, dtype: int64
s1    89
s2    89
s3    89
Name: 3, dtype: int64
s1    96
s2    96
s3    95
Name: 4, dtype: int64
s1     78
s2     85
s3    400
Name: 5, dtype: int64
s1    72
s2    72
s3    54
Name: 6, dtype: int64
s1    -3
s2    99
s3    76
Name: 7, dtype: int64
s1    74
s2    74
s3    93
Name: 8, dtype: int64
s1    63
s2    64
s3    62
Name: 9, dtype: int64
s1    91
s2    91
s3    91
Name: 10, dtype: int64
s1    67
s2    77
s3    87
Name: 11, dtype: int64
s1    243
s2    342
s3    324
Name: 12, dtype: int64
s1    77
s2    77
s3    45
Name: 13, dtype: int64
s1    67
s2    67
s3    73
Name: 14, dtype: int64
s1    78
s2    98
s3    74
Name: 15, dtype: int64
s1    88
s2    88
s3    91
Name: 16, dtype: int64
s1    82
s2    82
s3    82
Name: 17, dtype: int64
s1    34
s2    -4
s3    21
Name: 18, dtype: int64
s1    78
s2    78
s3    22
Name: 19, dtype: int64

In [243]:
#Running a test line
for index, row in df.iterrows():
    A = row['s1']
    B = row['s2']
    C = row['s3']
    print(f'{A}, {B}, {C}')

67, 75, 86
105, 56, 65
34, 54, 45
89, 89, 89
96, 96, 95
78, 85, 400
72, 72, 54
-3, 99, 76
74, 74, 93
63, 64, 62
91, 91, 91
67, 77, 87
243, 342, 324
77, 77, 45
67, 67, 73
78, 98, 74
88, 88, 91
82, 82, 82
34, -4, 21
78, 78, 22

In [244]:
def introduction():
    print('This function will read in three integers representing student\'s scores on 3 tests')
    print('Then the Main function will call a function to validate the scores')
    print('If scores are valid, the Main function will call other functions to classify the scores')
    print('The function will print \'End of the Dataset\' after the it has processed all the rows of available data')

In [271]:
def aretheyvalid(A, B, C): 
    if A >100:
        print(f'{A}, {B}, {C}')
        print(f'Invalid group -> {A} is too big')
    if A <0:
        print(f'{A}, {B}, {C}')
        print(f'Invalid group -> {A} is too small')
    if B >100:
        print(f'{A}, {B}, {C}')
        print(f'Invalid group -> {B} is too big')
    if B <0:
        print(f'{A}, {B}, {C}')
        print(f'Invalid group -> {B} is too small')
    if C >100:
        print(f'{A}, {B}, {C}')
        print(f'Invalid group -> {C} is too big')
    if C <0:
        print(f'{A}, {B}, {C}')
        print(f'Invalid group -> {C} is too small')
    X = (A<=100 and A>=0) and (B<=100 and B>=0) and (C<=100 and C>=0)
    if (X):
        return True
    else:
        return False

In [272]:
def aretheysame(A, B, C):
    if A == B and B == C:
        print('All three numbers are the same')
    if A != B and B != C:
        print('All three numbers are different')
    elif A == B and A < C and B < C:
        print('Two numbers are the same but the third is larger')
    elif B == C and B < A and C < A:
        print('Two numbers are the same but the third is larger')
    elif A == C and A < B and C < B:
        print('Two numbers are the same but the third is larger')
    elif A == B and A > C and B > C:
        print('Two numbers are the same but the third is smaller')
    elif B == C and B > A and C > A:
        print('Two numbers are the same but the third is smaller')
    elif A == C and A > B and C > B:
        print('Two numbers are the same but the third is smaller')

In [269]:
def main():
    i = 0
    j = 0 
    k = 0
    introduction()
    print('\n')
    for index, row in df.iterrows():
        A = row['s1']
        B = row['s2']
        C = row['s3']
        i+=1
        print(f'{A}, {B}, {C}')
    print('\n')
    
    for index, row in df.iterrows():
        A = row['s1']
        B = row['s2']
        C = row['s3']
        aretheyvalid(A,B,C)
    print('\n') 
        
    for index, row in df.iterrows():
        A = row['s1']
        B = row['s2']
        C = row['s3']
        if (X):                                  #<<<___________________What should I do here?
            j +=1 
            aretheysame(A,B,C)
            X = A
            Y = B
            Z = C
            def roundscore(X, base=10):
                return base * round(X/base)
            print(f' the original number {A}')
            print(f' the rounded number  {roundscore(X)}')
            P = roundscore(X)
            def roundscore(Y, base=10):
                return base * round(Y/base)
            print(f' the original number {B}')
            print(f' the rounded number  {roundscore(Y)}')
            Q = roundscore(Y) 
            def roundscore(Z, base=10):
                return base * round(Z/base)
            print(f' the original number {C}')
            print(f' the rounded number  {roundscore(Z)}')
            R = roundscore(Z) 
            aretheysame(P,Q,R)
            print('\n')
        else:
            k+=1 
            
    if df[df.columns[0]].count() == index+1:
        print('End of the Dataset')
        print('\n')
        
    print(f'The number of groups processed {i}')        
    print(f'The number of valid groups {j}')
    print(f'The number of invalid groups {k}')

In [270]:
main()

UnboundLocalError: local variable 'A' referenced before assignment